<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />

    <application
        tools:replace="android:icon"
        android:name="com.smile.u2bkaraoke.U2bKaraokeApp"
        android:icon="@drawable/u2bkaraoke_app_icon"
        android:banner="@drawable/u2bkaraoke_app_tv_icon"
        android:label="@string/u2bkaraoke_app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~2333242536" />

        <activity
            android:name="com.smile.u2bkaraoke.PhU2bKaOkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smile.u2bkaraoke.TvU2bKaOkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smile.u2bkaraoke.U2bKaOkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <service
            android:name="com.smile.u2bplayer.services.U2bService"
            android:exported="false">
        </service>
    </application>

</manifest>